name: Build and Push Docker Image

on:
  push:
    branches:
      - main  # run on push to main branch

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build Docker image
        run: docker build -t my-app:24f1002702 .

      - name: Tag Docker image
        run: docker tag my-app:24f1002702 ${{ secrets.DOCKERHUB_USERNAME }}/my-app:24f1002702

      - name: Push Docker image
        run: docker push ${{ secrets.DOCKERHUB_USERNAME }}/my-app:24f1002702
